<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Otel Listesi</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Otel Listesi</h1>
    <div class="row">
      <% oteller.forEach(function(otel) { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="/otel/<%= otel.ID %>"><%= otel.isim %></a></h5>
              <p class="card-text"><%= otel.açıklama %></p>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</body>
</html>